.logoImage {
  height: 7em;
}

.authContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg, #269292 28.52%, #040525 100%);

}

.InputContainer {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;

}

.authForm {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%; /* Base width */
}
 
.authInput {
  background: #d9d9d9;
  opacity: 0.45;
  border-radius: 23px;
  width: 100%;
  height: 35%;
  min-height: 40px; /* Base value */
  max-height: 60px; /* Maximum value */
}

.submit {
  width: 100%;
  background: #2022b7;
  border-radius: 30px;
  height: 40%;
  min-height: 50px; /* Base value */
  max-height: 70px; /* Maximum value */
  color: white;
}

.submitButton { 
width: 326px;
height: 49px;
background: #28253E;
border-radius: 23px;
color: white;
}

/* Responsive styles */
@media (max-width: 768px) {
  .authForm {
    width: 90%; /* Adjust width for smaller screens */
  }

  .authInput {
    height: 30%;
    margin-left: 30px;
    min-height: 35px; /* Adjust base value for smaller screens */
    max-height: 55px; /* Adjust maximum value for smaller screens */
    width: 50%; /* Adjust width for smaller screens */
    padding-left: 20px;
  }


  .submit {
    height: 35%;
    margin-left: 30px;
    min-height: 45px; /* Adjust base value for smaller screens */
    max-height: 65px; /* Adjust maximum value for smaller screens */
    width: 50%; /* Adjust width for smaller screens */
  }
}

@media (max-width: 480px) {
  .authForm {
    width: 80%; /* Adjust width for even smaller screens */
  }

  .authInput {
    height: 25%;
    min-height: 30px; /* Adjust base value for even smaller screens */
    max-height: 50px; /* Adjust maximum value for even smaller screens */
    width: 80%; /* Adjust width for even smaller screens */
  }

  .submit {
    height: 30%;
    min-height: 40px; /* Adjust base value for even smaller screens */
    max-height: 60px; /* Adjust maximum value for even smaller screens */
    width: 80%; /* Adjust width for even smaller screens */
  }
}