.dashboardContainer {
  display: flex;
  align-items: center;
  height: calc(100vh - 15%); 
  background: #130f1d;
  flex-direction: column;
}

.boardIdle {
  max-width: 100%;
  height: auto;
  width: 25%;
  margin: 20px 0;
  transition: width 0.3s ease; 
}

.searchingButton {
  padding: 10px 20px;
  background-color: #4CAF50; 
  color: white; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.dashboardButton:hover {
  background-color: #45a049; /* Darker green on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

/* Responsive styles */
@media (max-width: 768px) {
  .dashboardImage {
    width: 60%; /* Adjust the width for smaller screens */
  }
  .dashboardButton {
    width: 80%; /* Adjust button width for smaller screens */
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .dashboardImage {
    width: 80%; /* Adjust the width for even smaller screens */
  }
  .dashboardButton {
    width: 90%; /* Adjust button width for even smaller screens */
    font-size: 12px;
  }
}
