html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.profile {
  font-family: Arial, sans-serif;
  place-items: center;
  background: #130F1D;
}

.profilecontainer {
  display: grid; /* Use grid layout */
  place-items: center; /* Center both horizontally and vertically */
  height: 10vh; 
  /* width: 50vw; */
}

@media (max-width: 37.5rem) { /* 600px equivalent */
  .top-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .profilelogo {
    margin-top: 0.3125rem; /* 5px equivalent */
  }

  .profile-pic {
    width: 5rem; /* 80px equivalent */
    height: 5rem; /* 80px equivalent */
  }

  .username {
    font-size: 1rem; /* 16px equivalent */
  }
}
