.tags-section {
    margin-top: 1rem;
    border-radius: 15px;
    background: #ffffff3d;
    width: 70vw;
  }

  .tags-title {
    width: 95px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 17px;
    padding: 5px 25px;
    width: 50px;
    margin: 10px auto;
    color: #FFF;
    background-color: gray;
  
  }

  
.tags-list {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding: 1rem;
}

.tag {
    color: #FFF;
    background-color: #333; 
    padding: 5px 10px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}

/* x button */
.tag button {
  color: #FFF;
  border: none;
  background-color: transparent;
  padding: 5px;
  font-family: var(--sds-typography-body-font-family);
}



  .add-tag {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center; /* Center the input field and button */
    position: relative;
    margin-bottom: 1rem;
}

.add-tag input {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid gray;
    width: 70%; /* 70% width of the container */
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

.add-tag button {
    width: 40px; /* Set the width to 40px */
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid gray;
    padding: 5px;
    position: absolute;
    right: 15%; /* Position the button inside the input field */
    top: 50%;
    transform: translateY(-50%);
}
