.topBar {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%; 
  background-color: #333; 
}

.topBarImage {
  height: 50%; 
  margin-right: 10px; 
}

.topBarHamburger {
  height: 30%; 
  margin-left: 10px; 
}

.menu-button {
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.logo{
  font-size: 2rem;
  font-weight: bold;
}